.git{
 border: 5px; border: slateblue;
 margin: 5px;
 padding-bottom: 20px;
 background-color: chocolate;

}
.back{
text-align: center;
color:brown;
background-image: url("../image/avatar.png")  ;
margin: 10px;
padding: 400px;
border: 5PX;
}
img{padding: 400px;
    width: 100px;
    box-shadow: 2px solid tomato;
box-shadow: 5px ;
border-image-repeat: none;
}